body {background-color: #CA6FE7  }
h1  {color: red; font-family: Helvetica; font-size:50px ;}
h2{color:blue; font-size:30px;}
p {color:blue; font-family: Garamond: font-size 40px; } 
img {margin-right: 200px; border-color: black; border-width:5px; border-style: dotted ;}
ul {color: pink }
a  {color: pink; text-decoration: none}